<li>
  <div class="bubble">
    <div class="txt">
      <p class="name">Judy</p>
      <p class="message"><%= question.title %></p><br>
      <span class="timestamp">10:20 pm</span>
    </div>
    <div class="bubble-arrow"></div>
  </div>
</li>
