<li>
  <div class="bubble">
    <div class="txt">
      <p class="name">Judy</p>
      <%= question.title.html_safe %>
      <br>
      <span class="timestamp"><%= Time.now.strftime("%b %e, %l:%M %p") %></span>
    </div>
    <div class="bubble-arrow"></div>
  </div>
</li>
