
<div class="container">
    <h1>Chatbot MyMan</h1>
      <form>
        <% @questions.each do |question| %>
          <%= question.title %>
          <% if question.multiple_choice %>
          <% question.answers.each do |answer|  %>
          <input type="checkbox" name="" value="answer.id" id="answer_id_<%=answer.id%>">
          <label for="answer_id_<%=answer.id%>">
             <%= answer.content %>
          </label>
          <% end %>
          <% else %>
          <input type="textarea" name="question.id">
          <% end %>
        <% end %>
        <input type="submit" name="submit" value="post">
      </form>
</div>


<div class="container">
  <div class="row">
      <div class="chat-container">
        <div class="chatHeader">
          <h3>
            Chat with Judy
          </h3>
        </div>
        <div class="chatMessages">
          <div class="speech-wrapper">
            <div class="bubble">
              <div class="txt">
                <p class="name">Judy</p>



                <p class="message">Add intro and question 1 here</p>
                <span class="timestamp">10:20 pm</span>
              </div>
              <div class="bubble-arrow"></div>
            </div>
            <!--  Speech Bubble alternative -->
            <div class="bubble alt">
              <div class="txt">
                <p class="name alt">John</p>
                <p class="message">Nice... this will work great for my new project.</p>
                <span class="timestamp">10:22 pm</span>
              </div>
              <div class="bubble-arrow alt"></div>
            </div>
          </div>
        </div>
         <div class="chatBottom">
          <form action="#" onSubmit="return fals;" id="chatForm">
            <input type="hidden" name="text" value="user" >
            <textarea type="text" name="text" id="inputchat" value="" placeholder="type your message" ></textarea>
            <input type="submit" name="submit" value="Post" class="btn-solid"id="submitchat">
          </form>
        </div>
      </div>
  </div>

</div>
