.big-box-diagnosis {
  display: flex;
  padding-top: 20px;
}

.form-new-diagnosis {
  display: block;
  margin-left: 30px;
  flex-grow: 1;

}

.patient-info-diagnosis {
  position: sticky;
  margin-left: 100px;
  margin-right:30px;
}

.little-box-patient {
  display: flex;
}

.patient-info-diagnosis {

}

.little-box-question-answers {
  display:block;
}

.questions-answers-patient {
margin-left: 180px;
margin-right:50px;
display:flex;
}
