.doc-circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: white;
  overflow:hidden;
  object-fit: cover;
  .process-card-image {
    width: 120px;
    height:120px;
//   // border-radius: 50%;
//   // flex: none;
//   background-size: contain;
  }

}
.section-header h2 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #1AB06D;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 500;
}

// .process-card-description {
//   width: 100%;
// }



.medicine-card-visible {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  text-align: top;
  height: 80px;
}

.medicine-card-visible h3{
  font-size: 18px;
  margin: 0px 0px;
}
.medicine-card-visible p {
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.8;
  margin: 5px 0px;
}

.medicine-card-invisible {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  text-align: top;
}

.medicine-card-invisible h3{
  font-size: 18px;
  margin: 0px 0px;
}
.medicine-card-invisible p {
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.8;
  margin: 5px 0px;
}

.medicine-card-visible img {
height:70px;
width:70;
}

#search-map {
  width: 250px;
  border-radius: 10px !important;
}

.mapboxgl-canvas {
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 50px;
}

form {
  display: flex;
}

.btn {
  margin-left: 10px;
}

// .medicine-box {
//   display:flex;
// }
