.doc-circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: white;
  overflow:hidden;
  margin-top: 40px;
  object-fit: cover;
  .process-card-image {
    width: 120px;
    height:120px;
//   // border-radius: 50%;
//   // flex: none;
//   background-size: contain;
  }
}

.section-header {
  h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid #1AB06D;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 550;
}
  p {
    font-size: 14px;
    font-style: italic;
  }
}

.process-card {
  margin-bottom: -88px;
}

// Medicine styling

.accordian {
    width: 100%;
    color: #b9b9b9;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-weight: 100;
    letter-spacing: 0.035em;
    font-size: 14px;
    margin: 0 auto;
    ul > li {
        margin-bottom: 8px;
        &:first-child h3 {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    h3 {
        cursor: pointer;
        background-color: #f7f9f9;
        padding: 1.2rem 1rem 1rem 1.2rem;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        display: block;
        font-weight: 400;
        letter-spacing: 0.035em;
        position: relative;
        font-size: 18px;
        transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 3px;
        &:hover,
        &.closed {
            color: var(--dark-gray);
            background-color: #fff;
        }
        &:hover .arrow {
            border-top: 2px solid var(--dark-gray);
            border-right: 2px solid var(--dark-gray);
        }
    }
    ul {
      list-style: none;
      padding: 0;
      ul {
          display: none;
          height: 100%;
          margin-bottom: -7px;
          li {
              background-color: #fff;
              padding: 1rem 5px;
              color: var(--dark-gray);
              box-shadow: none;
              border-left: 1px solid #dfdfdf;
              border-right: 1px solid #dfdfdf;
              border-bottom: 1px solid #dfdfdf;
              p {
                  opacity: 0;
                  transition: all 0.5s;
                  transform: translatey(-20px);
              }
          }
          &.open p {
              opacity: 1;
              transform: translatey(0px);
          }
      }
    }

    .arrow {
        position: relative;
        right: 10px;
        top: 8px;
        width: 8px;
        height: 8px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        transform: rotate(135deg);
        transform-origin: center;
        float: right;
        margin-right: 8px;
        transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1);
        &.closed {
            margin-top: 4px;
            transform: rotate(-45deg);
            border-top: 2px solid var(--dark-gray);
            border-right: 2px solid var(--dark-gray);
        }
    }
    h4 {
    text-align: center;
    margin: 20px 20px 50px;
    color: #999;
    font-size: 2em;
    }
}

.med-header {
  display: flex;
  .medicine-pic {
    width:50%;
  }

  .price-med {
    margin-top:15px;
    margin-right: 10px;
  }

  .buy-button {
    display:flex;
    justify-content:flex-end;
  }

}

#down {
  margin-right:115px;
  margin-top:5px;
}

.euro {
      font-size: 20px;
    margin-right: 4px;
    vertical-align: bottom;
}


// Map styling

#search-map {
  width: 250px;
  border-radius: 10px !important;
}

.mapboxgl-canvas {
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 50px;
}
