.doc-circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: white;
  overflow:hidden;
  margin-top: 40px;
  object-fit: cover;
  .process-card-image {
    width: 120px;
    height:120px;
//   // border-radius: 50%;
//   // flex: none;
//   background-size: contain;
  }

}

.section-header {
  h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid #1AB06D;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 550;
}
  p {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
  }
}

// .process-card-description {
//   width: 100%;
// }


.medicine-card-visible {
  display:block;
}

.medicine-card-visible >.not-clicked {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  text-align: top;
  height: 80px;
}

.medicine-card-invisible >.not-clicked {
  display: none;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  text-align: top;
}

.medicine-card-visible img {
height:70px;
width:70;
}

 .medicine-card-invisible {
  .clicked {
      display: block;
      align-items: center;
      justify-content:space-between;
      padding: 10px;
      border-bottom: 1px solid rgba(220,224,244,0.4);
      text-align: left;
    .buy-hidden{
      display:flex;
      justify-content:space-between;
      text-align: center;
    }
  }
}

.clicked >.buy-hidden h4{
  margin: 0px;
  color:#1AB06D;
}

.price-med {
  margin-top:15px;
  margin-right: 10px;
}

.buy-button {
  display:flex;
  justify-content:flex-end;
}

#down {
  margin-right:115px;
  margin-top:5px;
}

.medicine-card-visible >.clicked {
  display: none;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  text-align: top;
  height: 80px;
}



#search-map {
  width: 250px;
  border-radius: 10px !important;
}

.mapboxgl-canvas {
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 50px;
}

// .medicine-box {
//   display:flex;
// }


.euro {
      font-size: 20px;
    margin-right: 4px;
    vertical-align: bottom;
}
// .medicine-card-visible h3{
//   font-size: 18px;
//   margin: 0px 0px;
// }
// .medicine-card-visible p {
//   font-size: 15px;
//   font-weight: lighter;
//   opacity: 0.8;
//   margin: 5px 0px;
// }

// .medicine-card-visible img {
// height:70px;
// width:70;
// }

// .medicine-card-visible >.description-hidden{
//   display:none;
// }

// .medicine-card-visible >.buy-hidden{
//   display:block;
// }

// .medicine-card-visible > .clicked {
//   display:none;
// }

// .medicine-card-invisible {
//   display: block;
//   align-items: center;
//   justify-content:space-between;
//   padding: 10px;
//   border-bottom: 1px solid rgba(220,224,244,0.4);
//   text-align: top;
// }

// .medicine-card-invisible h3{
//   font-size: 18px;
//   margin: 0px 0px;

// }
// .medicine-card-invisible p {
//   font-size: 15px;
//   font-weight: lighter;
//   opacity: 0.8;
//   margin: 5px 0px;
// }

// .medicine-card-invisible img {
// height:140px;
// width:140;
// }

// .medicine-card-invisible >.description-hidden{
//   display:block;
// }

// .medicine-card-invisible >.buy-hidden{
//   display:block;
// }

// .medicine-card-invisible >.sign-hidden{
//   display:none;
// }

// .medicine-card-invisible > .not-clicked {
//   display:none;
// }

// .medicine-card-invisible > .clicked {
//   display:block;
// }

.movie-img {
  width:100%;
  height:220px;
 /*background-size: contain;*/
  z-index:111 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position:relative;

}

.medicine-card-invisible p {
  color:gray;
  margin-bottom:5px;
}
