<div class="marker-card">
  <%= cl_image_tag @diagnosis.doctor.profile_picture, class: 'process-card-image'%>
  <h2><%= doctor.user.full_name %></h2>
    <p><%= doctor.address %></p>
    <p><%= doctor.city %></p>
</div>
