<div class="marker-card">
  <%= cl_image_tag doctor.profile_picture, class: 'process-card-image'%>
  <h2 class="header-infowindow"><%= doctor.user.full_name %></h2>
    <p><%= doctor.address %></p>
    <p>+34 345 678 23</p>
</div>
