<div class="banner">
  <div class="banner-content text-center">
    <h1>Discrete, professional advice for your skin problems!</h1>
    <%= link_to "Get advice", new_user_session_path, class: "btn btn-solid"  %>
  </div>
</div>

