<div class="banner">
  <div class="banner-content text-center">
    <h1>Discrete, professional advice for your skin problems!</h1>
    <%= link_to "Get advice", new_user_session_path, class: "btn btn-solid"  %>
    <p><i class="fas fa-angle-down"></i></p>
  </div>
</div>

<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <h5>SkinClean</h5>
  </div>
</div>
