.banner {
  height: 91vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image:
  url("https://images.unsplash.com/photo-1512548438457-4c9584d3766b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
  background-size: cover;
  background-position: center;
  position: relative;
  h1 {
    color: rgb(30,30,30);
    font-weight: 500;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 12px 40px;
  }
}

.banner-content {
  position:absolute;
  top: 60%;

}

.arrow {
    // margin-top: 500px;
    animation: pulse 3s infinite;
    color: #1AB06D;
    font-size: 2em;
    position: absolute;
    bottom: 2vh;
}

.bounce {
  animation: bounce 3s infinite;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


// background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("https://images.unsplash.com/photo-1499540785729-ac6adfa4efbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
