.btn-solid {
  background: #1AB06D;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.btn-transparent {
  background: white;
  border: 1px solid #1AB06D;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  color: #1AB06D;
}

.btn-gray {
  background: #E1E2E5;
  border-radius: 10px;
  color: #000000;
  text-align: center;
}


