.mapboxgl-popup {
  max-width: 200px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.27);
  border-bottom: 1px solid rgba(220,224,244,0.4);
  border-radius: 5px;
}

.mapboxgl-popup-content {
  position: relative;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#search-map {
  display: flex;
  margin-bottom: 10px !important;
}

.map-container {
  margin-top: 10px;
  padding-bottom: 10px;
}

.marker {
  border-radius: 50px;
}

.process-card-image {
  padding-top: 10px;
}

#map {
  overflow: hidden;
}

.mapboxgl-canvas {
  padding: 0px !important;
  margin-bottom: 10px;
}

.mapboxgl-popup-close-button {
  position: absolute;
  left: 0px;
  top:0px;
}

.mapboxgl-ctrl {
  display: none;
}

.header-infowindow {
  padding-bottom: 3px;
  font-size: 16px !important;
  border-bottom: 2px solid #1AB06D;
}

.marker-card {
    p {
    margin-bottom: 5px;
  }
  img {
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
  }
}
