.navbar-lewagon {
  position: relative;
  justify-content: space-between;
  background-color: transparent;
  background: white;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  width: 60px;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
}

