.swal-button {
  background: #1AB06D !important;
  border-radius: 10px !important;
  text-align: center !important;
  color: white !important;
  text-align: center;
}

.swal-text {
  text-align: center;
}
